In [4]:
import pandas as pd

In [5]:
teams = pd.read_csv('./data/teams.csv')
teams_post = pd.read_csv('./data/teams_post.csv')
series_post = pd.read_csv('./data/series_post.csv')
coaches = pd.read_csv('./data/coaches.csv')
players_teams = pd.read_csv('./data/players_teams.csv')
players = pd.read_csv('./data/players.csv')
awards_players = pd.read_csv('./data/awards_players.csv')

In [6]:
teams.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,seeded,firstRound,...,GP,homeW,homeL,awayW,awayL,confW,confL,min,attend,arena
0,9,WNBA,ATL,ATL,EA,NaN,7,N,0,NaN,...,34,1,16,3,14,2,18,6825,141379,Philips Arena
1,10,WNBA,ATL,ATL,EA,NaN,2,Y,0,L,...,34,12,5,6,11,10,12,6950,120737,Philips Arena
2,1,WNBA,CHA,CHA,EA,NaN,8,N,0,NaN,...,32,5,11,3,13,5,16,6475,90963,Charlotte Coliseum
3,2,WNBA,CHA,CHA,EA,NaN,4,Y,0,W,...,32,11,5,7,9,15,6,6500,105525,Charlotte Coliseum
4,3,WNBA,CHA,CHA,EA,NaN,2,Y,0,L,...,32,11,5,7,9,12,9,6450,106670,Charlotte Coliseum